/* 자주 쓰는 작심 css 변수 */
:root {
  --highlight-color: #00ffff;
  /* --bg-color: #2f4f4f; */
  --bg-color: white;
  --text-color: black;
  --border-color: #f0ffff;
  --text-size: 17px;
  --active-bg-color: rgba(255, 255, 255, 0.7);
}

/* 자주 쓰는 작심 틀 */
.frequent_jaksim {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.frequent_jaksim_ul {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.frequent_jaksim_li {
  margin-right: 10px;
  padding: 8px;
}

.frequent_jaksim_li:hover {
  cursor: pointer;
}

/* 자주 쓰느 작심 제목 */
.frequent_header {
  width: 100%;
  margin: 10px 0 10px;
}

/* .frequent_title {
  color: var(--highlight-color);
} */

/* 버튼 */
/* .frequent_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  width: 800px;
} */

.frequent_default {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.frequent_button {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  transition: box-shadow 300ms;
}

.frequent_text {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.frequent_button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 0 rgba(33, 33, 33, 0.3);
}

.frequent_button:active {
  background-color: var(--active-bg-color);
}

.button_box {
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.frequent_button_tag {
  margin-right: 5px;
  width: 5%;
}

.frequent_delete_btn {
  width: 5%;
}

.frequent_add_button {
  margin: 0;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/* 작심 추가 시 form 부분 */
.frequent_form {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 8px;
  align-items: center;
  width: 400px;
}

.frequent_input {
  width: 70%;
}

.frequent_input::placeholder {
  color: var(--active-bg-color);
}

.frequent_form_btn {
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
}

.frequent_form_btn:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.frequent_form_btn:active {
  background-color: var(--active-bg-color);
}

.hidden {
  display: none;
}
