.jaksim_today_modal {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 330px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  z-index: 99;
}

.jaksim_today_modal_close_bth {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 20px;
  height: 20px;
  border: 2px solid #39d1ad;
  border-radius: 25px;
  text-align: center;
  color: #39d1ad;
}

.jaksim_today_modal_close_bth:hover {
  border-color: #2fb999;
  color: #2fb999;
  cursor: pointer;
}

.jaksim_today_modal_title {
  margin-bottom: 10px;
}

.jaksim_today_modal_title > h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #2fb999;
}

.jaksim_today_modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jaksim_today_modal_color_check {
  width: 240px;
  margin-bottom: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color_check_btn {
  width: 70px;
  height: 28px;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(155, 155, 155);
  cursor: pointer;
}

.color_check_btn:hover {
  border-color: #39d1ad;
}

.clicked {
  background-color: #39d1ad;
  color: white;
  border: 2px solid #39d1ad;
  cursor: default;
}

.jaksim_today_modal_input_div {
  width: 240px;
  padding: 3px 8px;
  box-sizing: border-box;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 8px;
  margin-bottom: 10px;
}

.jaksim_today_modal_input_div:focus-within {
  border: 2px solid #2fb999;
}

.jaksim_today_modal_input:focus {
  outline: none;
}

.jaksim_today_modal_input::placeholder {
  color: rgb(189, 189, 189);
}

.jaksim_today_modal_input {
  width: 220px;
  height: 32px;
  font-size: 16px;
  border: none;
  color: #2fb999;
}

.frequent_jaksim_add_check {
  display: flex;
  margin-bottom: 20px;
  color: #39d1ad;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

input[id="frequent_jaksim_add_check"] + label {
  display: inline-block;
  border: 2px solid #39d1ad;
  border-radius: 14px;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

input[id="frequent_jaksim_add_check"]:checked + label {
  background-color: #39d1ad;
}

#frequent_jaksim_add_check {
  display: none;
}

.jaksim_today_modal_submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jaksim_today_modal_submit_btn > button {
  width: 80px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #39d1ad;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.jaksim_today_modal_submit_btn > button:hover {
  background-color: #2fb999;
  color: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
