.feature_processivity {
  position: relative;
  top: 0px;
  right: 0px;
  width: 64px;
  font-size: 22px;
}

.feature_processivity_water {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}
.feature_processivity_sun {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}
.feature_processivity_pill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.feature_processivity span {
  text-align: end;
  padding-bottom: 6px;
}
